{% extends "layout.twig" %}

{% block title %} Tienda – uoMusic {% endblock %}

{% block main_container %}
    <div class="row">
        <div id="custom-search-input">
            <form method="get" action="/shop">
                <div class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                    <input id="search" type="text" class="search-query form-control"
                           placeholder="Nombre de la canción" name="search"/>
                    <span class="input-group-btn">
                        <button class="btn" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <h2>Canciones</h2>
    <div class="row">
        {% for song in songs %}
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3" style="margin-bottom: 30px;">
                <div style="width:200px">
                    <a href="/songs/{{ loop.index }}">
                        <img src="/images/song.png" alt="logo" class="img-responsive img-thumbnail"/>
                        <div style="margin-top: 10px; color: #333;"><strong>{{ song.title }}</strong></div>
                        <div class="small text-muted">{{ song.author }}</div>
                        <div class="text-right" style="color: #2e6da4;"><strong>{{ song.price }} €</strong></div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row text-center">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
        </ul>
    </div>
{% endblock %}