{% extends "layout.twig" %}

{% block title %} Autores {% endblock %}

{% block main_container %}
<div class="container">
    <h2>Listado de autores</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Grupo</th>
                <th>Rol</th>
            </tr>
            </thead>
            <tbody>
            {% for author in authors %}
                <tr>
                    <td>{{ author.name }}</td>
                    <td>{{ author.group }}</td>
                    <td>{{ author.rol }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

